<button class="boton" type="submit">
    <img src="iconGoogle.png" style="width: 23px; margin-right: 10px" class="icon-google" alt="">
    @valor
</button>

@code {
    [Parameter]
    public string? valor { get; set; }
}