@inherits LayoutComponentBase

<div class="event-page">
    <h1>Eventos en practica</h1>
    <ul>
        <li>
            <NavLink href="/">Ir a Home</NavLink>
        </li>
        <li>
            <NavLink href="/event">Ir a los eventos</NavLink>
        </li>
        <li>
            <NavLink href="#">Ir a tienda</NavLink>
        </li>
        <li>
            <NavLink href="/categoria">Ir a categoria</NavLink>
        </li>
        <li>
            <NavLink href="/formulario">Ir a formulario</NavLink>
        </li>
    </ul>
    @Body
</div>
